<%- include("partials/header"); -%>

<div class="bg first-container">
  <div class="aboutHeadingContainer">
    <h1 class="aboutHeading">ABOUT US</h1>
    <p class="aboutPara">  The Election Commission was established in accordance with the Constitution on 25th January 1950.</p>
  </div>
</div>
<div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit ducimus, enim inventore earum, eligendi nostrum pariatur necessitatibus eius dicta a voluptates sit deleniti autem error eos totam nisi neque voluptates sit deleniti autem error eos totam nisi neque.
            </p>
            <div class="skills">
                <span>Voters Education</span>
                <span>Polling Process</span>
                <span>EVM Machine</span>
            </div>
        </div>
    </div>

    <section class="colored-section" id="testimonials">

      <div id="testimonial-carousel" class="carousel slide" data-ride="false">
        <div class="carousel-inner">
          <div class="carousel-item active container-fluid">
            <h2 class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</h2>
            <img class="testimonial-image" src="images/chris.jpg" alt="dog-profile">
            <em>Pebbles, New York</em>
          </div>
          <div class="carousel-item container-fluid">
            <h2 class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h2>
            <img class="testimonial-image" src="images/lady-img.jpg" alt="lady-profile">
            <em>Beverly, Illinois</em>
          </div>
        </div>
        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
        </a>
      </div>

    </section>


   <div class="socailDiv">
     <ul class="socialLinks">
     <li>
     <a href="#"><i class="fab fa-facebook mediaIcon"></i></a>
     </li>
     <li>
     <a href="https://twitter.com/AkashA36498654"><i class="fab fa-twitter mediaIcon"></i></a>
     </li>
     <li>
     <a href="https://www.linkedin.com/in/akash-a-757171191/"><i class="fab fa-linkedin-in mediaIcon"></i></a></li>
     <li>
     <a href="#"><i class="fab fa-google-plus-g mediaIcon"></i></a></li>
     </ul>
   </div>




<%- include("partials/footer"); -%>
