<%- include("partials/header"); -%>


<div class="contactPageInfo first-container">
  <p class="contactHeading">Get In Touch</p>
  <div class="contactMe">
    <div class="contactMe-items">
      <div class="markerIcon icon">
        <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
      </div>
      <h3 class="subHeading">ADDRESS</h3>
      <p>
        <span>
          <b>Weifield Group Contracting</b>
          <br>
          "6950 S. Jordan Road"
          <br>
          "Centennial, CO 80112"
        </span>
      </p>
      <p>
        <span>
          <b>Industrial Division Office</b>
          <br>
          "1270 Automation Drive"
          <br>
          "Windsor, CO 80550"
        </span>
      </p>
      <p>
        <span>
          <b>Wyoming Office</b>
          <br>
          "308 Southwest Dr Unit E"
          <br>
          "Centennial, CO 80112"
        </span>
      </p>
      <p>
        <span>
          <b>Texas Office</b>
          <br>
          "1421 Wells Branch Pkwy. Ste 303"
          <br>
          "Pflugerville, TX 78660"
        </span>
      </p>

    </div>


    <div class="contactMe-items">
      <div class="phoneIcon icon">
        <i class="fa fa-phone fa-3x" aria-hidden="true"></i>
      </div>
      <h3 class="subHeading">PHONE</h3>
      <p>
        <span>
          <b>Weifield Group Contracting</b>
          <br>
          "6950 S. Jordan Road"
          <br>
          "Centennial, CO 80112"
        </span>
      </p>
      <p>
        <span>
          <b>Industrial Division Office</b>
          <br>
          "1270 Automation Drive"
          <br>
          "Windsor, CO 80550"
        </span>
      </p>
      <p>
        <span>
          <b>Wyoming Office</b>
          <br>
          "308 Southwest Dr Unit E"
          <br>
          "Centennial, CO 80112"
        </span>
      </p>
      <p>
        <span>
          <b>Texas Office</b>
          <br>
          "1421 Wells Branch Pkwy. Ste 303"
          <br>
          "Pflugerville, TX 78660"
        </span>
      </p>
      <p>
        <span>
          <b>Texas Office</b>
          <br>
          "1421 Wells Branch Pkwy. Ste 303"
          <br>
          "Pflugerville, TX 78660"
        </span>
      </p>

    </div>


    <div class="contactMe-items">
      <div class="envelopeIcon icon">
        <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
      </div>
      <h3 class="subHeading">EMAIL</h3>
      <p>
        <span>
          <b>Weifield Group Contracting</b>
          <br>
          "6950 S. Jordan Road"
          <br>
          "Centennial, CO 80112"
        </span>
      </p>
      <p>
        <span>
          <b>Industrial Division Office</b>
          <br>
          "1270 Automation Drive"
          <br>
          "Windsor, CO 80550"
        </span>
      </p>
      <p>
        <span>
          <b>Industrial Division Office</b>
          <br>
          "1270 Automation Drive"
          <br>
          "Windsor, CO 80550"
        </span>
      </p>
    </div>
  </div>
</div>

<div class="MessageDiv row">
  <div class="Message-items column">
    <h1>Message Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et molestie ac feugiat sed lectus. Eget arcu dictum varius duis at. Sed egestas egestas fringilla phasellus faucibus. Quam nulla porttitor massa id neque.</p>
  </div>

  <div class="Message-items column">
    <form action="/action_page.php">
        <label for="fname">First Name</label><br>
        <input type="text" id="fname" name="firstname" placeholder="Your name.."><br>
        <label for="lname">Last Name</label><br>
        <input type="text" id="lname" name="lastname" placeholder="Your last name.."><br>
        <label for="country">Email</label><br>
        <input type="email" name="" value="" placeholder="Your Email.."><br>
        <label for="subject">Comments</label><br>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px; width: 500px;"></textarea><br>
        <input type="submit" value="Submit">
      </form>

  </div>

</div>




<%- include("partials/footer"); -%>
