<%- include("partials/header"); -%>

<div class="bg first-container">
  <div class="media-container-column mbr-white col-lg-8 col-md-10 ml-auto">
            <h2 class="mbr-section-title align-right mbr-bold pb-3 mbr-fonts-style display-1">
                ONLINE E-VOTING WEBSITE</h2>
            <h3 class="mbr-section-subtitle align-right mbr-light pb-3 mbr-fonts-style display-2">
                Know The Policies
            </h3>
            <p class="mbr-text align-right pb-3 mbr-fonts-style display-5">
                Make sure that before voting you read all the policies offered by the candidate you are going to vote for. Compare their policies with those offered by other candidates.</p>
            <div class="mbr-section-btn align-right">
                <a class="btn btn-md btn-primary display-4" href="https://mobirise.com">LEARN MORE</a>
                <a class="btn btn-md1 btn-white-outline display-4" href="https://mobirise.com">LIVE DEMO</a>
            </div>
        </div>
</div>







<%- include("partials/footer"); -%>
