<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Up</title>

  <!-- Font Icon -->
  <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Main css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/registrationStyle.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@500&display=swap" rel="stylesheet">

</head>

<body>

  <div class="main">

    <section class="signup">
      <!-- <img src="images/signup-bg.jpg" alt=""> -->
      <div class="container">
        <div class="signup-content">
          <form action="/register" method="post" id="signup-form" class="signup-form">
            <h2 class="form-title">Create account</h2>
            <div class="form-group">
              <input type="text" class="form-input" name="name" id="name" placeholder="Your Name" autocomplete="off" />
            </div>
            <div class="form-group">
              <input type="email" class="form-input" name="username" id="email" placeholder="Your Email" autocomplete="off" />
            </div>
            <div class="form-group">
              <input type="password" class="form-input" name="password" id="password" placeholder="Password" autocomplete="off" />
              <span toggle="#password" class="zmdi zmdi-eye-off field-icon toggle-password"></span>
            </div>
            <div class="form-group">
              <input type="password" class="form-input" name="re_password" id="re_password" placeholder="Repeat your password" autocomplete="off" />
            </div>
            <div class="form-group">
              <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
              <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in Terms of service</label>
            </div>
            <div class="form-group">
              <button type="submit" name="button" id="submit" class="form-submit">SignUp</button>
            </div>
          </form>
          <div class="or-container">
            <div class="line-separator"></div>
            <div class="or-label">or</div>
            <div class="line-separator"></div>
          </div>
          <div class="col">
            <a href="/auth/facebook" class="fb btn">
              <i class="fa fa-facebook fa-fw"></i> SignUp with Facebook
            </a>
            <a href="/auth/google" class="google btn"><i class="fa fa-google fa-fw">
            </i> SignUp with Google
            </a>
          </div><br>
          <p class="loginhere">
            Have already an account ? <a href="/login" class="loginhere-link">Login here</a>
          </p>
        </div>
      </div>
    </section>

  </div>

  <script>
    const eye = document.querySelector(".toggle-password");
    eye.addEventListener("click", function() {
      eye.classList.toggle("zmdi-eye-off");
      eye.classList.toggle("zmdi-eye");
      var input = document.querySelector(eye.getAttribute("toggle"));
      if (input.getAttribute("type") == "password") {
        input.setAttribute("type", "text");
      } else {
        input.setAttribute("type", "password");
      }
    });
  </script>
</body>

</html>
