<%- include("partials/header"); -%>


<div class="bg1 first-container">
  <div class="media-container-column mbr-white col-lg-8 col-md-10 ml-auto">
    <h2 class="mbr-section-title align-right mbr-bold pb-3 mbr-fonts-style display-1">
      ONLINE VOTING PORTAL</h2>
    <h3 class="mbr-section-subtitle align-right mbr-light pb-3 mbr-fonts-style display-2">
      Track Application Status
    </h3>

  </div>
</div>

<!-- -----------------------------------------------MAIN DIV-------------------------------------------- -->


<h1 class="display-4 procedureHeading">VOTING PROCEDURE</h1>

<blockquote class="blockquote text-center procedureSubHeading">
  <p class="mb-0">Broad guidelines of Election Commission of India on Publicity of Criminal Antecedents.</p>
</blockquote>




<main class="body-container">

  <section class="grid-bar">
    <div class="grid-items" data-aos="fade-left">
      <img class="stepDiv" src="images/registration.png" alt="Art 1">
      <div class="grid-content">

        <h2>Step one</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet tellus cras adipiscing enim eu turpis egestas. Sit amet est placerat in egestas erat imperdiet. Diam in
          arcu cursus euismod.</p>

      </div>
    </div>

    <div class="grid-items" data-aos="fade-right">
      <img class="stepDiv" src="images/customer.png" alt="Art 2">
      <div class="grid-content">

        <h2>Step Two</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet tellus cras adipiscing enim eu turpis egestas. Sit amet est placerat in egestas erat imperdiet. Diam in
          arcu cursus euismod.</p>
        <!-- <button type="button" name="button">Buy Now</button> -->

      </div>
    </div>

    <div class="grid-items" data-aos="fade-left">
      <img class="stepDiv" src="images/security.jpg" alt="Art 3">
      <div class="grid-content">

        <h2>Step Three</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet tellus cras adipiscing enim eu turpis egestas. Sit amet est placerat in egestas erat imperdiet. Diam in
          arcu cursus euismod.</p>

      </div>
    </div>

    <div class="grid-items" data-aos="fade-right">
      <img class="stepDiv" src="images/successIcon.png" alt="Art 4">
      <div class="grid-content">

        <h2>Step Four</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet tellus cras adipiscing enim eu turpis egestas. Sit amet est placerat in egestas erat imperdiet. Diam in
          arcu cursus euismod.</p>

      </div>
    </div>
  </section>
</main>

<!-- -----------------------------------------------VOTING DIV-------------------------------------------- -->

<div class="container">
  <div class="page-header">
    <h1>Give Your Vote</h1>
  </div>
  <hr style="width: 95%;">
  <div class="row">
    <div class="col-sm-6 voteDiv">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Give your vote</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Interdum consectetur libero id faucibus nisl tincidunt eget nullam.</p>
          <div class="form-group">
            <a class="btn btn-secondary btn-lg" href="/checksUser">Give Vote</a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="seperator"></div> -->
    <div class="col-sm-6 voteDiv">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Logout</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Interdum consectetur libero id faucibus nisl tincidunt eget nullam.</p>
          <div class="form-group">
            <a class="btn btn-primary btn-lg" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<%- include("partials/footer"); -%>
